@using bugTracker.Models

@{
    ViewBag.Title = "Role Assignment";
}
<h1>@ViewBag.Title</h1>
<div class="container">
    @using (Html.BeginForm("RoleAssignment", "Manage", null, FormMethod.Post, new { @id = "assignForm", role = "form" }))
    {
        <div class="row">
            <div class="form-group col-md-4 col-md-offset-2">
                    @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                    @Html.DropDownList("RoleId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-4">
                <a id="assignBtn" class="btn btn-default submit btn-success" href="#">Assign / Update</a>
                <a id="cancelBtn" class="btn btn-default submit btn-warning" href=@Url.Action("Index","Home")>Cancel</a>
                <a id="deleteBtn" class="btn btn-default submit btn-danger" href="#">Remove User From All Roles</a>
            </div>
        </div>
    }
</div>




@section scripts {
    <script>
        $("#assignBtn").click(function () {
            //To only show hidden fields upon submision so not to danger the app by malicious user
            $('<input type="hidden" name="Delete" value="false">').appendTo('form');
            $("#assignForm").submit();
        });

        $("#deleteBtn").click(function () {
            $('<input type="hidden" name="Delete" value="true">').appendTo('form');
            $("#assignForm").submit();
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}


@*$('<input type="hidden">').foo(...)
$('<input>').attr({
    type: 'hidden',
    id: 'foo',
    name: 'bar'
}).appendTo('form');*@