@model bugTracker.Models.ForgotPasswordViewModel
@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title text-center">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div class="text-center">
    <p>
        Please check your email to reset your password.
    </p>
</div>

